@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "Popins", "Arial", sans-serif;
  font-size: 14px;
  color: #808080;
}

h1,
h2,
h3 {
  font-family: Bounded, serif;
  font-weight: 900;
  text-align: center;
  color: black;
}

h1,
h2 {
  font-size: 32px;
  line-height: 2;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

nav a {
  color: blue;
  font-size: 24px;
  text-decoration: underline;
}

#article .title {
  font-family: 'StarJedi', sans-serif;
  font-size: 48px;
  text-shadow: #fc0 1px 10px 10px;
}

.content p {
  color: black;
}

.content .wrong {
  color: grey;
  text-decoration: line-through;
}

.content strong {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #d61313;
}

.content mark {
  text-transform: uppercase;
}

.content i {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #d61313;
}

.content a {
  font-style: italic;
  color: blue;
  text-decoration: underline;
}

.content h3 {
  text-decoration: overline;
  text-decoration-style: dashed;
  line-height: 3;
  text-shadow: #fc0 1px 10px 10px;
  letter-spacing: 12px;
}

.wide-text {
  text-align: justify;
  text-shadow: 2px 2px 5px #000, 5px -2px 10px #ff9900;
  font-style: italic;
}

.content ol a {
  font-size: 24px;
  color: tomato;
  line-height: 2;
}

.content .time {
  font-size: 18px;
  color: green;
}

#ecobazar h3 {
  color: #1A1A1A;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

.footer {
  text-transform: capitalize;
  text-align: center;
  color: #1A1A1A;
  line-height: 2;
}