@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "KoPub Batang", sans-serif;
  font-size: 20px;
  color: #2C2C2C;
  background-color: #F8F3EC;
}

header,
footer {
  text-align: center;
  font-size: 24px;
  padding: 30px 0;
}

h1 {
  font-size: 32px;
  text-align: center;
}

.button {
  cursor: pointer;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button--icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.4s;
}
.button--icon img {
  width: 23px;
  height: 23px;
}

.button--view-more {
  border: 1px solid #DBCCBA;
  padding: 10px;
  gap: 10px;
}

.button--view-more span::after {
  content: '';
  width: 23px;
  height: 14px;
  background: url('../img/content/vector-icons/right-arrow-icon.svg') center / 100%  no-repeat;
  transition: transform 0.3s;
}

.button--view-more span {
  background-color: #DBCCBA;
  padding: 9px 30px 9px 30px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s;
}

@media (any-hover: hover) {
  .button--icon:hover {
    background-color: #1e2327;
  }
  .button--icon:hover img {
    filter: invert(1);
  }
  .button--view-more:hover span {
    background-color: #D8C593FF;
  }
  .button--view-more:hover span::after {
    transform: scaleX(-1);
  }
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1230px;
  padding-inline: 15px;
  margin: 0 auto;
}

.page > *:not(:last-child) {
  margin-bottom: 40px;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-card__media {

}

.product-card__media a {
  display: block;
  background-color: #eeeeee;
  aspect-ratio: 369 / 378;
  overflow: hidden;
}
.product-card__media--big a {
  aspect-ratio: 369 / 378;
}

.product-card__add-to-cart img {
  margin-top: 1px;
}

.product-card__media img {
  transition: transform 0.1s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

.product-card__info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 14px;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.product-card__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  transition: color 0.3s;
}

@media (any-hover: hover) {
  .product-card__title:hover {
    color: #8b5c7b;
    text-shadow: 1px 2px 22px rgba(0,0,0,0.3);
  }
  .product-card__media:hover img {
    transform: scale(1.1) rotate(2deg);
    transition-duration: 10s;
  }
}

.product-card__actions {
  display: inline-flex;
  column-gap: 10px;
  margin-right: 5px;
}

.product-card__price {
  font-family: Carme, sans-serif;
  color: #4E4E4E;
  font-size: 18px;
  line-height: 1.1;
  flex: 1 1 100%;
  align-content: end;
}

.grid-blossomia {
  display: grid;
  gap: 15px 30px;
  grid-template-columns: 1fr;
}

.grid-blossomia__title {
  color: #000;
  font-size: 32px;
  font-weight: 300;
  padding: 20px;
}

.grid-blossomia__item:nth-child(1) {
  grid-row: span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grid-blossomia__item:nth-child(5) {
  /*grid-column: span 1;*/
}

.grid-blossomia__item:last-child {
  justify-self: start;
}
@media (min-width: 600px) {
  .grid-blossomia {
    grid-template-columns: 1fr 1fr;
  }
  .grid-blossomia__item:nth-child(1) {
    grid-column: span 2;
    grid-row: 1 / 1;
    order: -1;
  }
  .grid-blossomia__item:nth-child(2) {
    order: -2;
  }
  .grid-blossomia__title {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .grid-blossomia {
    grid-template-columns: 33.33% 30.53% 30.53%;
  }
  .grid-blossomia__item {
    grid-row: span 4;
  }
  .grid-blossomia__item:nth-child(1) {
    grid-column: 2 / 4;
    aspect-ratio: 767 / 257;
    text-align: left;
  }
  .grid-blossomia__item:nth-child(5) {
    grid-row: 5 / 7;
    grid-column: span 1;
  }

  .product-card__media--big a {
    aspect-ratio: 401 / 427;
  }

  .grid-blossomia__title {
    font-size: 60px;
    padding: 0;
  }
}

/* Ecobazar */
.ecobazar {
  background-color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 14px;
}
.ecobazar__container {
  max-width: 1350px;
}

.ecobazar__header {
  text-align: center;
  padding: 36px 0;
}

.ecobazar__subtitle {
  color: #00B207;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.ecobazar__title {
  color: #1A1A1A;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
}

.banner {
  position: relative;
  width: 19%;
  min-height: 335px;
}
.banner__media {
  aspect-ratio: 248 / 335;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.banner__media img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner__text {
  position: relative;
  z-index: 1;
  padding: 24px;
  text-align: center;
}

.banner__title {
  color: #1A1A1A;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.banner__description {
  color: #00B207;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 16px;
}

.banner__cta {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
  border-radius: 43px;
  background: #FFFFFF;
  max-width: 162px;
  color: #00B207;
  text-align: justify;
  font-weight: 600;
  line-height: 1.2;
  column-gap: 12px;
}

.banner__cta::after {
  content: '';
  width: 15px;
  height: 12.049px;
  background: url('../img/content/vector-icons/right-arrow-green.svg') center no-repeat;
}