@font-face {
  font-family: 'KoPub Batang';
  src: url("../fonts/KoPubBatang-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KoPub Batang';
  src: url("../fonts/KoPubBatang-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}