@import url("reset.css");

body {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: #4D4D4D;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

header,
footer {
  font-size: 24px;
  text-align: center;
  padding: 30px;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.badge {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.5;
}

.badge--new {
  background: #FF8A00;
}
.badge--out-stock {
  background: #1A1A1A;
}
.badge--best {
  background: #2388FF;
}
.badge--sale {
  background: #EA4B48;
}

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #F2F2F2;
  transition: background-color 0.4s, stroke 0.3s;
  stroke: #1A1A1A;
}

.button:hover {
  background-color: #00B207;
  stroke: white;
}

.button--icon-buy {
  background-color: #F2F2F2;
}

.button--icon-buy:hover {
  background-color: #2C742F;
}

.page > * {
  margin-bottom: 60px;
}

.feature-products__header {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.feature-products__title {
  color: #1A1A1A;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}
.link-more {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  color: #00B207;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.link-more:hover {
  text-decoration: underline;
}
.link-more:after {
  transition: transform 0.3s;
  transform: scaleX(1);
  content: "";
  width: 15px;
  height: 13px;
  background: url("../img/content/icons/right-arrow-green.svg") 0 -1px / contain no-repeat;
}
.link-more:hover:after {
  transform: scaleX(-1);
}

.feature-products__list {
  display: flex;
  flex-wrap: wrap;
}

.feature-products__item {
  flex: 0 1 calc(20% + 1px);
  margin: 0 -1px -1px 0;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  border: 1px solid #E6E6E6;
  transition: box-shadow 0.5s, border 0.3s;
}

.product:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: 2;

  border: 1px solid #2C742F;
  box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
}

.product:hover::before {
  opacity: 1;
}

.product:hover .button--icon-buy {
  background-color: #00B207;
  stroke: white;
}

.product:hover .button--icon-buy:hover {
  background-color: #2C742F;
}

.product:hover .product__actions {
  opacity: 1;
  visibility: visible;
}

.product__badges,
.product__actions {
  position: absolute;
  top: 16px;
  display: inline-flex;
  flex-direction: column;
  gap: 6px;
  z-index: 2;
}

.product__badges {
  left: 16px;
}

.product__actions {
  right: 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.product__media {
  padding: 5px;
  overflow: hidden;
}
.product__media a {
  display: block;
}

.product__media img {
  transition: transform 0.1s;
  width: 100%;
  height: 100%;
  aspect-ratio: 254 / 230;
  object-fit: cover;
}

.product__media:hover img {
  transform: scale(1.1) rotate(2deg);
  transition-duration: 10s;
}

.product__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  gap: 5px;
}

.product__title {
  line-height: 1.5;
}

.product__title a:hover {
  color: #2C742F;
}

.product__prices {
  margin-bottom: 6px;
}

.price {
  color: #1A1A1A;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.price--old {
  color: #999999;
  text-decoration-line: line-through;
}

.rating {
  display: flex;
  align-items: center;
}

.rating__star {
  width: 12px;
  height: 12px;
  background: url("../img/content/icons/star-grey.svg") center no-repeat;
}

.rating__star--filled {
  background: url("../img/content/icons/star-orange.svg") center no-repeat;
}

.news {
  margin-bottom: 40px;
}

.news__title {
  text-align: center;
  margin-bottom: 32px;
  color: #1A1A1A;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}

.news__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.news__item {
  flex: 0 1 calc((100% - 48px) / 3);
}

.item-news {
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  overflow: hidden;
}

.item-news__media {
  position: relative;
  overflow: hidden;
}
.item-news__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 424 / 324;
}

.item-news__datetime {
  position: absolute;
  left: 24px;
  bottom: 24px;
  padding: 6px 16px 10px 16px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.85);
  color: #808080;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.item-news__datetime strong {
  display: block;
  text-align: center;
  color: #1A1A1A;
  font-size: 20px;
  line-height: 1.5;
}

.item-news__content {
  padding: 24px;
}

.item-news__links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 9px;
}

.item-news__link {
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.item-news__link:hover {
  text-decoration: underline;
}

.item-news__link:before {
  content: '';
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.item-news__link--category:before {
  background-image: url('../img/content/icons/tag.svg');
}

.item-news__link--user:before {
  background-image: url('../img/content/icons/user.svg');
}

.item-news__link--comments:before {
  background-image: url('../img/content/icons/chat.svg');
}

.item-news__title {
  margin-bottom: 20px;
  color: #1A1A1A;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  transition: color 0.4s;
}

.item-news__title:hover {
  color: #2C742F;
}

.item-news__more:after {
  background-position: 0 0;
}

.item-news__more {
  font-size: 16px;
  font-weight: 600;
}
