@import url("reset.css");

a {
  color: blue;
}

.inner-links .link {
  color: tomato;
}

.link ~ ul {
  background: #000;
}

.text,
.title {
  color: #322727;
}

.main > .title {
  color: coral;
}

.section > .title {
  color: gold;
}

img + p {
  color: green;
}

p ~ p {
  color: red;
}

mark {
  color: blue;
}

a.link[title^="Кон"] {
  color: darkgreen;
}

a.link[title$="ини"] {
  color: darkgreen;
}

/*
 1 рівень вкладеності => перший li має бути червоного кольору, всі інші пункти зеленого кольору
 2 рівень вкладеності => перший li має бути синього кольору, всі інші li 2 рівня вкладеності помаранчевого
 3 рівень вкладеності => перший li має бути #4597f7кольору, всі інші li 3 рівня вкладеності #5d5d5d
 span в який загорнутий текст на лише 2 рівні вкладеності має бути кольору #a0f0fc

 P.S. - Додав умову: без використання класів спробуйте стилізувати
 */
ul > li {
  color: red;
}

ul > li + li {
  color: green;
}

li > ul > li {
  color: blue;
}

li > ul > li + li {
  color: orange;
}

li li li {
  color: #4597f7;
}

li li li + li  {
  color: #5d5d5d;
}

ul > li > span {
  color: #a0f0fc
}