@import url("reset.css");

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}
.transition-func__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.button-blade {
  text-decoration: none;
  color: #272727;
  font-size: 45px;
  border: 5px solid #272727;
  padding: 40px 80px;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.button-blade--rotate {
  &:before {
    background-color: #fff200;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
  }

  &:hover:before {
    transform: rotate(0);
  }
}

.button-blade--swipe {
  transition: color .6s;
  &:before {
    background-color: #351435;
    transform: translateX(-100%);
    transition: transform 1s;
  }

  &:hover {
    color: white;
  }

  &:hover:before {
    transform: translateX(0);
  }
}

.button-blade--rotate-x {
  transition: color 0.4s;
  &:before {
    transform: rotateX(90deg);
    background-color: #262626;
    transition: transform 1s, color .6s;
  }

  &:hover {
    color: white;
  }
  &:hover:before {
    transform: rotateX(0);
  }
}

.button-blade--rotate-xy {
  transition: color 0.4s;
  &:before {
    transform: rotateX(90deg);
    background-color: #262626;
    transition: transform 1s, color .6s;
  }
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: transform 1s, color .6s;
    transform: rotateY(90deg);
  }
  &:hover {
    color: white;
  }
  &:hover:before {
    transform: rotateX(0);
  }
  &:hover:after {
    transform: rotateY(0);
  }
}

.button-blade--diff-text {
  background-color: #262626;
  color: white;

  &:before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    content: 'YEAH!';
    background-color: #e1332d;
    transform: translateY(-100%);
    transition: transform 1s, border-color 0.4s ease 0.3s;
    z-index: 1;
  }
  &:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 5px solid white;
  }

  &:hover:before {
    transform: translateY(0);
    border-color: white;
  }
}

.button-red {
  text-decoration: none;
  padding: 40px 80px;
  color: #e1332d;
  border: 5px solid #e1332d;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 300;
  transition: all 0.8s;
}

.button-red--bolder {
  letter-spacing: -2px;
  font-size: 40px;
  border: 3px solid #e1332d;
  &:hover {
    font-weight: 900;
    letter-spacing: 2px;
    border-width: 5px;
  }
}

.button-blade--angle {
  background-color: white;
  transition: all 0.5s;

  &:before {
    z-index: 1;
    height: 50px;
    background-color: white;
    transition: all 0.5s;
    transform: translateX(-100%) rotate(45deg);
  }

  &:hover {
    background-color: #f44336;
  }

  &:hover:before {
    transform: translateX(100%) rotate(45deg);
  }
}

.button-blade--chess {
  background-color: #262626;
  color: transparent;

  &:before,
  &:after {
    content: 'HOVER ME';
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #262626;
    background-color: #fbfb84;
    transition: all 0.6s;
    z-index: 1;
  }
  &:after {
    transform: translate(-100%, 100%);
  }

  &:hover:before {
    transform: translate(100%, -100%);
  }
  &:hover:after {
    transform: translate(0);
  }
}

.button-blade--scale {
  transition: all .5s;
  &:before {
    content: 'HOVER ME';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    color: white;
    transform: scale(5);
    opacity: 0;
    transition: all .5s;
    z-index: 1;
  }

  &:hover:before {
    transform: scale(1);
    opacity: 1;
  }
}