@import url("reset.css");

body {
  font-family: "Inter", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

.container {
  margin-inline: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1230px;
}

.header {
  padding: 20px 40px;
}
.footer {
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 60px;
}
.header nav {
  margin: 0 -10px;
  text-align: center;
}

.header nav ul li {
  display: inline-block;
  padding: 10px;
}

.header nav a {
  display: inline-block;
  min-height: 25px;
  font-size: 20px;
  font-weight: 700;
}

.header nav a:hover {
  text-shadow: 0 0 0 rgb(208,138,28),
    1px 1px 0 rgb(165,123,26),
    2px 2px 0 rgb(242,185,100),
    3px 3px 0 rgb(227,167,187),
    4px 4px 0 rgb(182,129,63),
    5px 5px 0 rgb(161,117,50),
    6px 6px 0 rgb(144,103,39),
    7px 7px 0 rgb(130,91,31),
    8px 8px 0 rgb(120,83,25),
    9px 9px 0 rgb(108,73,20),
    10px 10px 0 rgb(93,63,13),
    11px 11px 0 rgb(60,54,12),
    12px 12px 0 rgb(63,41,8),13px 13px 0
}

.lesson-properties {
  margin-bottom: 60px;
}

.lesson-properties .container {
  max-width: 600px;
}

.lesson-properties h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}

.lesson-properties .content {
  font-size: 20px;
}

.lesson-properties .content > * {
  display: inline-block;
  padding-inline: 10px;
}

.hover {
  color: #5A54F2;
  cursor: pointer;
}

.hover:hover {
  text-decoration: underline;
}

.click {
  color: #333333;
}

.click:active {
  color: red;
  background-color: green;
}

.focus:focus {
  border: 4px double tomato;
}

#target {
  display: none;
  width: 100px;
  height: 100px;
  border: 2px dashed blue;
}

#target:target {
  display: block;
}

.lesson-properties .content :first-child {
  border-top: 1px solid red;
}

.lesson-properties .content :last-child {
  background-color: gold;
}

.lesson-properties .content a:first-of-type {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.lesson-properties .content p:last-of-type {
  text-decoration-line: underline;
  text-decoration-style: double;
}

.lesson-properties .content :first-child::before {
  content: '|';
  margin-right: 10px;
}
.lesson-properties .content :last-child::after {
  content: '|';
  margin-left: 10px;
}
/* Game Start */

.game h2 {
  font-size: 40px;
  text-align: center;
}
a[href="#new-game"] {
  display: inline-block;
  padding: 20px;
  font-size: 18px;
  border: 2px double blue;
  margin-bottom: 20px;
  margin-left: 20px;
}
.game .field {
  font-size: 0;
}
.game .path:target {
  visibility: visible;
}
.game .path {
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  vertical-align: top;
}
.ocean,
.game .path {
  visibility: hidden;
}

.game .ocean {
  display: inline-block;
  font-size: 16px;
  width: 200px;
  height: 600px;
  background-image: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  text-orientation: upright;
  writing-mode: vertical-lr;
  text-align: center;
}

.game .path:nth-child(4) {
  margin-top: 100px;
  margin-left: -100px;
}

.game .path:nth-child(5) {
  margin-top: 200px;
  margin-left: -100px;
}

.game .path:nth-child(6) {
  margin-top: 200px;
  margin-left: -200px;
}

.game .path:nth-child(7) {
  margin-top: 200px;
  margin-left: -200px;
}

.game .path:nth-child(8) {
  margin-top: 300px;
  margin-left: -100px;
}
.game .path:nth-child(9),
.game .path:nth-child(9) ~ .path {
  margin-top: 300px;
  margin-left: 0;
}

.game .field .path:nth-last-child(2) {
  margin-top: 200px;
  margin-left: -100px;
}
.game .field .path:last-child {
  margin-top: 400px;
  margin-left: -100px;
}

.game .path:hover:not(:nth-last-child(-n+3)) {
  visibility: visible;
  background-color: green;
}

.game .path:hover:not(:nth-last-child(-n+4)) + .path {
  visibility: visible;
  background-color: red;
}

.surprise {
  visibility: hidden;
  background-image: url("../img/bg/question.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*.surprise:active {*/
/*  background: green;*/
/*}*/
.field .path:last-child:active {
  background-image: url("../img/bg/money.jpg");
}

.field .path:nth-last-child(2):active {
  background-image: url("../img/bg/skull.jpeg");
}
.field .path:nth-last-child(3):active {
  background-image: url("../img/bg/html-5.webp");
}


.path[href="#final"]:hover + .ocean,
.path#final:target,
.path#final:target ~ .surprise {
  visibility: visible;
}

/* Game END */

/* block from figma */
.education {
  background-color: #412672;
  padding-top: 60px;
  padding-bottom: 100px;
}

.education h2 {
  font-size: 38px;
  color: white;
  margin-bottom: 30px;
}

.education h2 strong {
  display: block;
}

.education .cards {
  font-size: 0;
  margin-inline: -10px;
}

.education .cards > * {
  display: inline-block;
  padding-inline: 10px;
  width: 33.33%;
  vertical-align: top;
}

.education .card .content > *:not(:last-child),
.education .card > *:not(:last-child) {
  margin-bottom: 16px;
}

.education .card {
  padding: 20px;
  background-color: #ffffff;
  font-size: 15px;
  line-height: 1.26;
}

.education .card:hover {
  background-color: #FFBE48;
}

.education .card .media img {
  height: 266px;
  width: 100%;
}


.education .card .content h3 {
  font-size: 22px;
  color: #000000;
  font-weight: 600;
  line-height: normal;
}

.education .card .content p {
  color: #4F4F4F;
  min-height: 76px;
}

.education .card .actions a {
  color: #FE3F3F;
}

/* end of block from figma */

/* institute block */
.institute {
  color: #412672;
  padding-top: 55px;
  padding-bottom: 42px;
  font-size: 20px;
  line-height: normal;
}

.institute .info > :not(:last-child) {
  margin-bottom: 20px;
}

.institute .info {
  padding-top: 100px;
  padding-bottom: 70px;
  max-width: 518px;
  width: 100%;
}

.institute .info h2 {
  font-size: 34px;
}

.institute .info h2 strong {
  display: block;
}

.institute .info p {
  font-size: 22px;
}

.institute .info ul {
  color: #4F4F4F;
  font-size: 20px;
  padding-left: 46px;
}

.institute .info ul li {
  line-height: 2.55;
}
.institute .info ul li:before {
  content: '';
  width: 29px;
  height: 29px;
  margin-left: -50px;
  margin-right: 15px;
  vertical-align: middle;
  background: url("../img/icons/education-list-icon.svg") no-repeat 0 -2px;
}

/* end of institute block */