/* catalog page */
.filters-btn {
  cursor: pointer;
  padding: 14px 2rem;
  border-radius: 43px;
  background: var(--branding-success);
  transition: background-color 0.3s;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  display: inline-flex;
  color: var(--white-color);
  font-size: var(--text-s);
  font-weight: var(--text-semibold);
  line-height: 1.2;
  
  &:hover {
    background-color: var(--primary-hard-color);
  }

  .icon {
    width: 20px;
    height: 17px;
  }
}
.sorter {
  font-size: var(--text-s);
  line-height: 1.5;

  label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
  .sorter__label {
    color: var(--gray-500);
    flex-shrink: 0;
  }
  .select {
    position: relative;
    display: inline-block;
    color: inherit;

    &::after {
      content: "";
      position: absolute;
      pointer-events: none;
      right: 0.75rem;
      top: 50%;
      width: 13px;
      height: 13px;
      transform: translateY(-50%);
      /*mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 8'><path d='M1 1l5 5 5-5' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>") center/contain no-repeat;*/
      background: url('../img/icons/decor/chevron-down.svg') center/contain no-repeat;
    }
  }

  select {
    cursor: pointer;
    width: 100%;
    padding: 10px 32px 10px 16px;
    border-radius: 4px;
    border: 1px solid var(--gray-100);
    color: var(--gray-700);
    line-height: inherit;
    font: inherit;
    appearance: none;
    background-color: transparent;
    outline: none;

    &:focus {
      border-color: var(--primary-hard-color);
      box-shadow: 0 0 0 3px rgba(0, 178, 7, 0.25);
    }

    &:disabled {
      opacity: .6;
      cursor: not-allowed;
    }
  }
}

.catalog {
  padding-bottom: 80px;
  .catalog__grid {
    display: grid;
    grid-template-columns: 0 1fr;
    column-gap: 0;
    transition: grid-template-columns 0.5s, column-gap 0.3s;

    &.filter-opened {
      grid-template-columns: 312px 1fr;
      column-gap: 1.5rem;
    }
  }

  .catalog__header {
    grid-column: 1 / -1;
  }

  .catalog__filters {
    grid-column: 1 / 1;
    overflow: hidden;
  }

  .catalog__body {
    .products-grid {
      gap: 1.5rem;
      margin-bottom: 40px;
    }
    .mini-product {
      border-radius: 0.5rem;
      &:before {
        border-radius: 0.5rem;
      }
    }
  }
}

.header-catalog {
  padding-block: 26px 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;

  @media (min-width: 768px) {
    flex-wrap: nowrap;
  }

  .header-catalog__filters-toggle {
    flex-basis: 100%;

    .filters-btn {
      width: 100%;
    }
    @media (min-width: 768px) {
      flex-basis: 312px;
      .filters-btn {
        width: auto;
      }
    }
    
    @media (min-width: 992px) {
      display: none;
    }
  }

  .header-catalog__sorter {

  }

  .header-catalog__results {
    margin-left: auto;
    color: var(--gray-600);
    font-size: var(--text-m);
    line-height: 1.5;

    span {
      color: var(--gray-900);
      font-weight: var(--text-semibold);
      line-height: 1.2;
    }
  }
}
/* end of catalog page */

/* pagination */
.pagination {
  color: var(--gray-600);
  font-size: var(--text-m);
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;

  .pagination__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--white-color);
    width: 2.25rem;
    height: 2.25rem;
    transition: color 0.3s, background-color 0.3s;

    .icon {
      width: 12px;
      height: 6px;
    }

    &:hover {
      background-color: var(--branding-success);
      color: var(--white-color);
    }
  }

  .pagination__item {
    @media (max-width: 480px) {
      &:nth-child(5),
      &:nth-child(6) {
        display: none;
      }
    }
  }
  .pagination__link--current {
    color: var(--white-color);
    background-color: var(--branding-success);
  }
  .pagination__link--previous,
  .pagination__link--next {
    color: var(--gray-900);
    background-color: var(--white-color);
    border: 1px solid var(--gray-100);
  }

  .pagination__link--previous {
    margin-right: 0.75rem;

    .icon {
      transform: rotate(90deg);
    }
  }

  .pagination__link--next {
    margin-left: 0.75rem;

    .icon {
      transform: rotate(-90deg);
    }
  }

  .pagination__link--disabled {
    color: var(--gray-300);
    background-color: var(--gray-50);
    pointer-events: none;
  }
}
/* end of pagination */

/* Filters */
.category-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  .category-filter__item {
    display: inline-flex;
    &:not(:last-child) {
      margin-bottom: 0.625rem;
    }
    &:first-child {
      padding-top: 0;
    }
  }
  .category-filter__label {
    color: var(--gray-900);
    line-height: 1.5;

    span {
      color: var(--gray-500);
    }
  }
}

.item-filter {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--gray-100);
  margin-bottom: 1.25rem;

  summary::marker {
    content: '';
  }
  .item-filter__title {
    cursor: pointer;
    color: var(--gray-900);
    font-size: var(--text-xl);
    font-weight: var(--text-medium);
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      content: '';
      color: inherit;
      width: 15px;
      height: 9px;
      stroke-width: 2px;
      background-color: var(--gray-900);
      mask: url('../img/icons/decor/chevron-down.svg') center/contain no-repeat;
      transition: transform 0.4s;
    }
  }

  &[open] {
    .item-filter__title::after {
      transform: rotate(180deg);
    }
  }

  .item-filter__body {
    padding-top: 1.25rem;
  }

}

.price-filter {
  .price-filter__range {
    padding-block: 0.25rem 1.25rem;

    .range-input {
      height: 6px;
      border-radius: 15px;
      background: var(--gray-100);
    }
    .range-slider__thumb {
      width: 18px;
      height: 18px;
      background-color: var(--white-color);
      border: 2px solid var(--branding-success);
    }
    .range-slider__range {
      background-color: var(--branding-success);
    }
  }

  .price-filter__label {
    color: var(--gray-700);
    line-height: 1.5;

    span {
      color: var(--gray-900);
      font-weight: var(--text-medium);
    }
  }
}

.rating-filter {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: flex-start;
  padding-top: 1.875rem;

  .rating-filter__value {
    color: var(--gray-900);
    font-size: var(--text-s);
    margin-top: 3px;
    margin-left: 2px;
  }

  .rating {
    .rating__item {
      width: 15px;
      height: 15px;
      background-size: cover;
    }
  }
}

.tags-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.sale-banner {
  position: relative;
  display: block;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 0.625rem;
  background-color: var(--gray-50);

  .sale-banner__link {
    display: block;
    text-align: center;

    .sale-banner__body {
      position: relative;
      z-index: 2;
      padding-top: 1.25rem;
      line-height: 1.5;
      color: var(--gray-700);
      font-size: var(--text-m);
    }

    .sale-banner__title {
      color: var(--gray-900);
      font-size: var(--text-xxl);

      strong {
        color: var(--warning-color);
        font-size: var(--text-2xl);
        font-weight: var(--text-semibold);
        line-height: 1.2;
      }
    }

    .sale-banner__link-btn {
      cursor: pointer;
      background-color: transparent;
      margin-top: 0.75rem;
      font-weight: 600;

      .link-arrow__icon {
        margin: 0;
      }
    }



    .sale-banner__media {
      position: absolute;
      left: 0;
      top: 0;
      aspect-ratio: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}


/* End Of Filters */