@import url("reset.css");
:root {
  /* Fonts */
  --primary-font: 'Poppins', sans-serif;
  --heading-size-1: 72px;
  --heading-size-2: 56px;
  --heading-size-3: 48px;
  --heading-size-4: 40px;
  --heading-size-5: 36px;
  --heading-size-6: 32px;

  --text-xs: 12px;
  --text-s: 14px;
  --text-m: 16px;
  --text-l: 18px;
  --text-xl: 20px;
  --text-xxl: 24px;
  --text-2xl: 32px;

  --text-light: 300;
  --text-normal: 400;
  --text-medium: 500;
  --text-semibold: 600;
  --text-bold: 700;

  /* Colors */
  --primary-color: #00B207;
  --primary-soft-color: #84D187;
  --primary-hard-color: #2C742F;
  --warning-color: #FF8A00;
  --danger-color: #EA4B48;
  --white-color: #ffffff;
  --branding-success: #00B207;

  --gray-900: #1A1A1A;
  --gray-800: #333333;
  --gray-700: #4D4D4D;
  --gray-600: #666666;
  --gray-500: #808080;
  --gray-400: #999999;
  --gray-300: #B3B3B3;
  --gray-200: #CCCCCC;
  --gray-100: #E6E6E6;
  --gray-50: #F2F2F2;

  --green-gray-900: #002603;
  --green-gray-800: #173B1A;
  --green-gray-700: #2B572E;
  --green-gray-600: #406B42;
  --green-gray-500: #618062;
  --green-gray-400: #7A997C;
  --green-gray-300: #96B297;
  --green-gray-200: #B4CCB4;
  --green-gray-100: #DAE5DA;
  --green-gray-50: #EDF2EE;

  --primary-text-color: var(--gray-600);

  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
}

body {
  font-family: var(--primary-font), sans-serif;
  font-size: var(--text-s);
  color: var(--primary-text-color);
}

[class$="--visually-hidden"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

.page__section {
  margin-bottom: 3.75rem;
}

[class*="__container"] {
  max-width: 1350px;
  padding-inline: 15px;
  margin: 0 auto;
}

/* Components */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--warning-color);
  border-radius: 4px;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: var(--gray-200);
}

.custom-scroll::-webkit-scrollbar-button {
  display: none;
  height: 8px;
  width: 8px;
  background-color: var(--gray-700);
}

.title {
  color: var(--gray-900);
  font-size: var(--text-2xl);
  font-weight: var(--text-semibold);
  line-height: 1.2;
}

.link-arrow {
  color: var(--branding-success);
  font-size: var(--text-m);
  font-weight: var(--text-medium);
  line-height: 1.5;
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
  transition: color 0.3s;

  &:hover {
    color: var(--primary-hard-color);
  }
}

.link-arrow__icon {
  width: 0.9rem;
  height: 0.8rem;
  margin-bottom: 0.1rem;
}

.block-header {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.block-header--center {
  text-align: center;
}

.block-header__title {
  flex-grow: 1;
}

.block-header__slider-actions {
  gap: 0.75rem;
  display: inline-flex;
}

.btn {
  cursor: pointer;
  padding: 0.875rem 1.5rem;
  background-color: var(--branding-success);
  color: var(--white-color);
  font-size: var(--text-s);
  font-weight: var(--text-semibold);
  line-height: 1.2;
  transition: background-color 0.3s;
  font-family: inherit;

  &:hover {
    background-color: var(--primary-hard-color);
  }
}

.btn--rounded {
  border-radius: 53px;
}

.btn-iconed {

}

.burger-btn {
  cursor: pointer;
  flex-shrink: 0;
  background-color: transparent;
  width: 29px;
  height: 18px;
  position: relative;

  span,
  &:before,
  &:after {
    left: 0;
    background-color: var(--gray-900);
    width: 100%;
    position: absolute;
    content: '';
    display: inline-block;
    height: 2px;
    transition: all 0.5s;
  }
  span {
    top: 50%;
    transform: translateY(-50%);
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  &.opened {
    span {
      width: 0;
    }
    &:before {
      top: 50%;
      rotate: -45deg;
      translate: 0 -50%;
    }
    &:after {
      rotate: 45deg;
      translate: 0 50%;
      bottom: 50%;
    }
  }
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;

  .icon {
    width: 20px;
    height: 20px;
  }
}

.button--round {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid var(--gray-100);
  background-color: var(--white-color);
  color: var(--gray-900);
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    background-color: var(--branding-success);
    color: var(--white-color);
  }
}

.button__icon-arrow {
  width: 15px;
  height: 12.049px;
}

.button__icon-arrow-left {
  transform: rotate(180deg);
}

.rating {
  display: flex;
  align-items: center;

  .rating__stars {
    display: inline-flex;
    align-items: center;
    gap: 2px;
  }

  .rating__item {
    width: 12px;
    height: 12px;
    background: url('../img/icons/decor/star.svg') center no-repeat;
  }

  .rating__item--filled {
    background: url('../img/icons/decor/filled-star.svg') center no-repeat;
  }

  .rating__feedback {
    color: var(--gray-500);
    font-size: 12px;
    line-height: 1.3;
    margin-top: 3px;
  }
}
/* End of Components */
/* Top Header */
.header {
  position: sticky;
  background-color: var(--white-color);
  top: 0;
  z-index: 30;
}
.header__top {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
.topper {
  border-bottom: 1px solid var(--gray-100);
}
.topper__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.75rem;
  font-size: var(--text-xs);
  flex-wrap: wrap;

  @media (min-width: 768px) {
    flex-wrap: nowrap;
  }
}



.location-topper {
  display: inline-flex;
}

.location-topper__icon {
  width: 1rem;
  height: 1.1875rem;
}

.location-topper__link {
  font-style: normal;
  transition: color 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    color: var(--primary-hard-color);
  }
}

.user-auth__link {
  &:hover {
    color: var(--primary-hard-color);
  }
}

.actions-topper {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.lang-currency {
  display: flex;
  gap: 1.25rem;

  &:after {
    content: '';
    width: 1px;

    background-color: var(--gray-100);
    @media (min-width: 768px) {
      height: 0.9375rem;
    }
  }
}

.lang-currency__item {
  position: relative;
}

.lang-currency__select {
  appearance: none;
  background-color: var(--gray-900);
  cursor: pointer;
  color: inherit;
  padding-right: 0.7rem;
  font-size: inherit;
  font-family: inherit;
  @media (min-width: 768px) {
    background-color: transparent;
  }
}

.lang-currency__select-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-55%);
  width: 8px;
  height: 4.5px;
  color: inherit;
}
.menu__topper {
  border: none;
  background-color: var(--gray-900);
  color: var(--white-color);
  & .topper__container {
    flex-direction: column-reverse;
    font-size: var(--text-xl);
  }

  @media (min-width: 768px) {
    display: none;
  }
}
/* End of Top header */

/* Header body */
.body-header {
  position: relative;
  z-index: 2;
  background-color: var(--white-color);
}
.body-header__container {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  @media (min-width: 768px) {
    padding-block: 1.5rem;
  }
}

.logo-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-shrink: 0;
  color: var(--green-gray-900);
}
.logo-header__img {
  aspect-ratio: 1;
}
.logo-header__text {
  color: inherit;
  font-size: var(--text-2xl);
  font-weight: var(--text-medium);
  line-height: 1.2;
  letter-spacing: -0.73px;

  @media (max-width: 399.98px) {
    display: none;
  }
}

.search-header {
  flex-basis: 31.125rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  outline: 1px solid var(--gray-100);
  margin-left: 0.5rem;
}

.search-header__label {
  position: relative;
  flex: 1 1 auto;
  height: 2.8125rem;
}

.search-header__search-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  color: var(--gray-900);
}

.search-header__input {
  width: 100%;
  height: 100%;
  padding-inline: 2.75rem 1rem ;
  color: var(--gray-900);
  font-size: 15px;
  line-height: 1.4;
  appearance: none;
  border-radius: 6px 0 0 6px;
  font-family: inherit;

  &::placeholder {
    color: var(--gray-500);
    transition: opacity 0.1s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

.search-header__submit {
  border-radius: 0 6px 6px 0;
  padding-block: 0.881875rem;
}

.header-actions {
  color: var(--gray-900);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-actions__favourite {
  display: inline-flex;
  gap: 1.0875rem;
  align-items: center;
  transition: color 0.3s;

  &:hover {
    color: var(--primary-hard-color);
  }

  &:after {
    display: none;
    content: '';
    width: 0.0625rem;
    height: 1.5rem;
    background-color: var(--gray-200);
    @media (min-width: 768px) {
      display: block;
    }
  }
}
.header-actions__favourite-icon {
  width: 29px;
  height: 29px;
}

.header-actions__menu {
  @media (min-width: 768px) {
    display: none;
  }
}
.cart-header {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  transition: color 0.3s;

  &:hover {
    color: var(--primary-hard-color);
  }
}
.cart-header__bag {
  position: relative;
  font-size: 0;
}
.cart-header__bag-icon {
  width: 34px;
  height: 34px;
}
.cart-header__counter {
  position: absolute;
  right: -5px;
  top: -2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--primary-hard-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: var(--text-medium);
  color: var(--white-color);
  outline: 1px solid var(--white-color);
}
.cart-header__info {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.cart-header__info > * + * {
  margin-top: 7px;
}

.cart-header__label {
  color: var(--gray-700);
  font-size: 11px;
  line-height: 1.2;
}

.cart-header__total-price {
  font-size: 14px;
  font-weight: var(--text-medium);
}
/* End of header body */

/* Header bottom */
.bottom-header {
  position: relative;

  &:before {
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--gray-800);
    z-index: 2;
    top: 0;
    left: 0;
  }
  @media (max-width: 767.98px) {
    padding-block: 0.475rem;
  }
}
.bottom-header__container {
  font-weight: 500;
  line-height: 1.5;
  font-size: var(--text-s);

  @media (min-width: 768px) {
    position: static;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    justify-content: space-between;
  }
}
.menu {
  @media (max-width: 767.98px) {
    padding: 131px 15px 30px 15px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    background-color: var(--primary-hard-color);
    overflow-y: auto;
    transition: left 0.5s;
  }
}
.menu-open .menu {
  left: 0;
}

.menu__list {
  display: flex;
  color: var(--gray-400);
  gap: 0 2rem;
  flex-wrap: wrap;
  @media (max-width: 767.98px) {
    flex-direction: column;
    column-gap: 1rem;
    text-align: right;
  }
}

.menu__item {
  position: relative;
  display: inline-flex;


  @media (min-width: 768px) {
    &:hover {
      transition: color 0.3s;
      color: var(--white-color);
    }
  }

  @media (max-width: 767.98px) {
    color: var(--white-color);
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-basis: 100%;
  }
}

.menu__item:hover .submenu {
  @media (min-width: 768px) {
    transform: translateY(0);
    pointer-events: auto;
    visibility: visible;
  }
}

.menu__link {
  padding-block: 1rem;
  line-height: 2;
  z-index: 3;
  position: relative;

  @media (max-width: 767.98px) {
    font-size: var(--text-2xl);
    padding-block: .5rem;
  }
}

.phone-link {
  color: var(--white-color);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s;

  &:hover {
    color: var(--branding-success);
  }
}

.phone-link__icon {
  color: inherit;
  width: 28px;
  height: 28px;
}

.bottom-header__phone {
  padding-block: 1rem;
  z-index: 3;
  display: none;
  @media (min-width: 768px) {
    display: inline-flex;
  }
}

.header-actions__phone {
  color: inherit;
  .phone-link__icon {
    width: 29px;
    height: 29px;
  }
  span {
    display: none;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.submenu {
  background-color: var(--primary-hard-color);
  padding: 1rem;
  color: white;
  width: 12.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  transition: transform 0.5s;

  @media (max-width: 767.98px) {
    flex-basis: 100%;
    flex-grow: 1;
    border-radius: 0.5rem;
    background-color: var(--gray-900);
  }

  @media (min-width: 768px) {
    visibility: hidden;
    transform: translateY(-100%);
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: -1rem;
  }
}

.submenu > * + * {
  margin-top: 5px;
}

.submenu__item {
  font-size: var(--text-m);
  @media (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.submenu__link {
  &:hover {
    text-decoration: underline;
  }
  @media (max-width: 767.98px) {
    font-size: var(--text-xl);
  }
}

.menu__btn {
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  vertical-align: middle;
  line-height: 1;
  font-size: 0;
  height: 100%;
  padding-left: 4px;
  z-index: 3;
  position: relative;
  @media (max-width: 767.98px) {
    display: none;
  }
}
.menu__btn-icon {
  width: 10px;
  height: 10px;
}
.body-header__logo {

}

.logo-header__text {

}
.body-header__search {
  display: none;
  @media (min-width: 768px){
    display: flex;
  }
}
.bottom-header__search {
  position: relative;
  z-index: 5;
  outline-color: transparent;
  flex-grow: 1;
  margin: 0;
  @media (min-width: 768px){
    display: none;
  }
}
/* End of header bottom */

/* Footer */
.footer {
  background-color: var(--gray-900);
  color: var(--gray-500);
}

.top-footer {
  display: flex;
  column-gap: 7rem;
  row-gap: 1.5rem;
  padding-block: 3.75rem;
  flex-direction: column;

  .top-footer__info {
    flex-basis: 100%;
    @media (min-width: 1024px) {
      flex-basis: 336px;
    }
  }

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.footer-info {
  font-size: var(--text-m);
  line-height: 1.5;
  & > * + * {
    margin-top: 1rem;
  }

  .footer-info__logo {
    color: var(--white-color);
  }

  .footer-info__text {
    font-size: var(--text-s);
  }

  .footer-info__contacts {
    span {
      margin-inline: 1rem;
    }
    a {
      padding-block: 6px;
      color: var(--white-color);
      border-bottom: 1.5px solid var(--branding-success);
      transition: color 0.3s, border 0.3s;

      &:hover {
        color: var(--primary-hard-color);
        border-color: var(--primary-hard-color);
      }
    }
  }
}

.nav-footer {
  flex-grow: 1;

  .nav-footer__list {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      flex-wrap: nowrap;
    }
  }

  .nav-footer__title {
    font-size: var(--text-m);
    color: var(--white-color);
    margin-bottom: 20px;
  }

  .nav-footer__links {
    & > * + * {
      margin-top: 0.75rem;
    }
  }
  .nav-footer__link {
    transition: color .3s;
    &:hover {
      color: var(--white-color);
    }
  }
}

.copyrights {
  border-top: 1px solid var(--gray-800);
  padding-block: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: 640px) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.payments {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .payments__icon {
    height: 32px;
    width: 45px;
  }

  .payments__icon--secure {
    width: 65px;
  }
}
/* End of Footer */

/* Hero */
.hero {
  padding-block: 1.5rem;
}

.hero__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 24px;
  min-height: 37.5rem;



  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
    article:nth-child(1) {
      grid-column: span 2;
    }
  }

  @media (min-width: 1024px) {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

    article:nth-child(1) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}


.banner {
  display: flex;
  border-radius: .625rem;
  position: relative;
  overflow: hidden;

  .banner__link {
    display: flex;
    padding: 1rem;

    @media (min-width: 576px) {
      padding: 2rem;
    }
  }

  .banner__link--centered {
    align-items: center;
  }

  .banner__media {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    aspect-ratio: 423 / 288;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .banner__media--decor {
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(99deg, rgba(0, 0, 0, 0.6) 10.4%, rgba(0, 0, 0, 0) 59.43%);
    }
  }
  .banner__body {
    z-index: 1;
    position: relative;
    color: var(--white-color);
    max-width: 570px;
    display: flex;
    flex-direction: column;
  }

  .banner__body--black {
    color: var(--gray-900);
  }

  .banner__body--center {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .banner__title {
    font-size: var(--text-xxl);
    font-weight: var(--text-semibold);
    line-height: 1.2;

    @media (min-width: 576px) {
      font-size: var(--heading-size-3);
    }
  }
  .banner__title--labeled {
    font-size: var(--text-2xl);
    margin-bottom: 12px;

    span {
      font-size: var(--text-s);
      display: block;
      font-weight: var(--text-medium);
      line-height: 1;
      letter-spacing: 0.42px;
      text-transform: uppercase;
    }
  }

  .banner__details {
    border-left: 2px solid var(--branding-success);
    padding-left: 12px;
  }

  .banner__badge {
    font-size: var(--text-xl);
    font-weight: var(--text-medium);
    line-height: 1.5;
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.5rem;

    strong {
      padding: 4px 12px;
      border-radius: 5px;
      background: var(--warning-color);
      font-weight: var(--text-semibold);
    }
  }

  .banner__text {
    opacity: 0.8;
  }

  .banner__cta {
    flex-grow: 0;
    align-self: flex-start;
    background-color: var(--white-color);
    color: var(--branding-success);
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: var(--primary-hard-color);
      color: var(--white-color);
    }
    .button__icon-arrow {
      margin-top: 0;
    }

  }

  .banner__link-btn {
    margin-top: 24px;
    cursor: pointer;
    align-self: flex-start;
    flex-grow: 0;
    background-color: transparent;

    .link-arrow__icon {
      margin: 0;
    }
  }
}

.banner--big {
  .banner__link {
    @media (min-width: 576px) {
      padding: 3.75rem;
    }
  }

  .banner__body {
    gap: 28px;
  }

  .banner__media {
    aspect-ratio: 872 / 600;
    background-color: var(--branding-success);
  }
}

.banner--center {
  justify-content: center;
  .banner__link-btn {
    align-self: center;
  }
}
/* End of Hero */

/* Advantages block */
.advantages {
  .advantages__list {
    padding: 2.5rem;
    border-radius: 0.5rem;
    background: var(--white-color);
    box-shadow: 0 8px 40px 0 rgba(0, 38, 3, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    row-gap: 1rem;
    flex-wrap: wrap;

    @media (min-width: 1230px) {
      flex-wrap: nowrap;
    }

    li {
      flex-grow: 1;
      flex-basis: 15rem;
    }
  }
}

.advantage {
  display: flex;
  gap: 1rem;
  align-items: center;

  .advantage__icon {
    overflow: hidden;
    aspect-ratio: 1;
    width: 40px;
    height: 40px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .advantage__title {
    font-size: var(--text-m);
    font-weight: var(--text-semibold);
    line-height: 1.2;
    color: var(--gray-900);
    margin-bottom: 0.5rem;
  }

  .advantage__description {
    color: var(--gray-600);
  }
}
/* End of advantages block */

/* pop categories */
.pop-categories {
  .pop-categories__header {
    margin-bottom: 2rem;
  }

  .pop-categories__list {
    display: flex;
    gap: 1.5rem;
    overflow-y: auto;
    padding-left: 15px;
    margin-inline: -15px;
    padding-bottom: 4px;

    @media (min-width: 576px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      padding-left: 0;
      margin-inline: 0;
    }
  }

  .pop-categories__item {
    flex-basis: 200px;
    flex-shrink: 0;

    &:last-child {
      margin-right: 15px;
      @media (min-width: 576px) {
        margin-right: 0;
      }
    }
  }
}

.pop-category {
  .pop-category__link  {
    display: block;
    padding: 1rem 0 1.5rem 0;
    border-radius: 5px;
    border: 1px solid var(--gray-100);
    transition: border-color 0.3s, box-shadow 0.3s;

    &:hover {
      border-color: var(--primary-hard-color);
      box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);

      .pop-category__title {
        color: var(--branding-success);
      }
    }
  }
  .pop-category__img {
    aspect-ratio: 190 / 130;
    overflow: hidden;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .pop-category__title {
    text-align: center;
    color: var(--gray-900);
    font-size: var(--text-l);
    font-weight: var(--text-medium);
    line-height: 1.5;
    transition: color 0.3s;
  }
}
/* end of pop categories */

/* mini product */
.badge {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 4px;
  color: var(--white-color);
  line-height: 1.5;
  transition: background-color 0.3s;

  strong {
    font-weight: var(--text-medium);
  }
}

.badge--sale {
  background-color: var(--danger-color);

  &:hover {
    background-color: #cb413e;
  }
}
.badge--best {
  background-color: #2388FF;
  &:hover {
    background-color: #0b66d7;
  }
}
.badge--new {
  background-color: var(--warning-color);
  &:hover {
    background-color: #c66901;
  }
}
.badge--out-stock {
  background-color: var(--gray-900);
  &:hover {
    background-color: #7d7d7d;
  }
}

.price {
  color: var(--gray-900);
  font-size: var(--text-m);
  font-weight: var(--text-medium);
  line-height: 1.5;
}

.price--old {
  color: var(--gray-400);
  font-weight: var(--text-normal);
  text-decoration-line: line-through;
}

.mini-product {
  position: relative;
  border: 1px solid var(--gray-100);
  background-color: var(--white-color);

  &:before {
    content: '';
    position: absolute;
    inset: -1px;
    z-index: 2;
    border: 1px solid var(--branding-success);
    box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
    pointer-events: none;
    transition: opacity 0.4s;
    opacity: 0;
  }

  .mini-product__badges {
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    max-width: min(180px, 75%);
    z-index: 1;
  }

  .mini-product__actions {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 6px;
    transition: opacity 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .mini-product__action,
  .mini-product__buy {
    width: 40px;
    height: 40px;
  }
  
  .mini-product__buy {
    background-color: var(--gray-50);

    &:hover {
      background-color: var(--primary-hard-color);
    }
  }

  .mini-product__media {
    padding: 5px;

    a {
      display: block;
      overflow: hidden;
      aspect-ratio: 254/230;
      background-color: var(--gray-300);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .mini-product__footer {
    display: flex;
    padding: 0.75rem;
    align-items: center;
    justify-content: space-between;
  }

  .mini-product__title {
    color: var(--gray-700);
    font-size: var(--text-s);
    line-height: 1.5;
    transition: color 0.3s;
  }

  .mini-product__prices {
    display: inline-flex;
    gap: 2px;
  }

  .mini-product__rating {
    margin-top: 6px;
  }

  &:hover {
    &:before {
      opacity: 1;
    }

    .mini-product__buy {
      color: white;
      background-color: var(--branding-success);
      &:hover {
        background-color: var(--primary-hard-color);
      }
    }

    .mini-product__title {
      color: var(--branding-success);
    }

    .mini-product__actions {
      opacity: 1;
      visibility: visible;
    }
  }
}

.mini-product--extended {

  &:hover {
    .line-actions__buy {
      background-color: var(--branding-success);
      color: var(--white-color);
    }
  }
  .mini-product__header {
    position: relative;
  }

  .mini-product__media {
    padding: 0;
    a {
      aspect-ratio: 527 / 448;
    }
  }
  .mini-product__line-actions {
    position: absolute;
    width: 100%;
    bottom: 1.5rem;
  }

  .mini-product__footer {
    padding: 6px 1.5rem 0;
    justify-content: center;
  }
  .mini-product__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
  }
  .mini-product__title {
    font-size: var(--text-l);
    line-height: 1.5;
  }
  .mini-product__prices {
    gap: 0.25rem;

    .price {
      font-size: var(--text-xxl);
    }
  }

  .mini-product__rating {
    margin-top: 0;
    gap: 2px;

    .rating__item {
      width: 18px;
      height: 18px;
      background-size: contain;
    }
  }
}

.line-actions {
  padding-inline: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .line-actions__buy {
    background-color: var(--gray-50);
    color: var(--gray-900);
    flex-grow: 1;
    padding: 14px;
    font-weight: var(--text-semibold);
    line-height: 1.2;
    transition: background-color 0.3s, color 0.3s;

    @media (min-width: 380px) {
      padding: 14px 2rem;
    }
    .icon {
      width: 17px;
      height: 17px;
    }

    &:hover {
      color: var(--white-color);
      background-color: var(--primary-hard-color);
    }
  }

  .mini-product__action {
    background-color: var(--gray-50);
    width: 45px;
    height: 45px;

    &:hover {
      background-color: var(--branding-success);
    }
  }
}

.pop-products {
  .pop-products__list {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
  }
  .pop-products__item {
    margin: 0 -1px -1px 0;
  }
}

/* Promotion */

.timer {
  display: flex;
  justify-content: center;
  gap: 2rem;

  .timer__time {
    display: block;
    font-size: var(--text-xxl);
    line-height: 1.5;
    position: relative;
    text-align: center;

    &:after {
      position: absolute;
      content: ':';
      right: -20px;
    }
  }
  .timer__label {
    color: rgba(255, 255, 255, 0.80);
    font-size: var(--text-xs);
    line-height: 1;
    letter-spacing: 0.36px;
    text-transform: uppercase;
  }
  & div:last-child span:after {
    display: none;
  }
}
.hurry-up {
  padding: 18px 0 24px 0;

  .hurry-up__label {
    text-align: center;
    color: var(--gray-400);
    font-size: 14px;
    line-height: 1.28;
  }

  .timer {
    margin-top: 6px;

    .timer__time {
      font-size: var(--text-l);
      color: var(--gray-900);
      font-weight: var(--text-medium);
      line-height: 1.3;
    }

    .timer__label {
      color: var(--gray-400);
      text-align: center;
      font-size: 10px;
      font-weight: 500;
    }
  }
}
.promotion {
  color: var(--white-color);

  .promotion__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
    gap: 1.5rem;
  }

  .promotion__link {
    position: relative;
    display: block;
    aspect-ratio: 424 / 536;
    padding: 2.1875rem;
    text-align: center;
  }

  .promotion__body {
    position: relative;
    z-index: 2;
  }
  .promotion__label {
    font-size: var(--text-s);
    font-weight: var(--text-medium);
    line-height: 1;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  .promotion__title {
    margin-top: 1rem;
    font-size: var(--heading-size-6);
    font-weight: var(--text-semibold);
    line-height: 1.2;

    @media (min-width: 800px) {
      font-size: var(--heading-size-4);
    }
  }
  .promotion__media {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }

  .promotion__cta {
    margin-top: 1.5rem;
    background-color: var(--white-color);
    color: var(--branding-success);
    transition: color 0.3s, background-color 0.3s;
    &:hover {
      color: var(--white-color);
      background-color: var(--branding-success);
    }
  }
  .promotion__badge {
    margin-top: 0.5rem;
  }

  .promotion__badge--price {
    margin-top: 0.75rem;
    span {
      font-size: var(--text-l);
      line-height: 1.5;
    }
    strong {
      color: var(--warning-color);
      font-size: var(--text-xl);
      font-weight: var(--text-semibold);
      line-height: 1.5;
    }
  }

  .promotion__badge--percent {
    span {
      font-size: var(--text-xl);
      line-height: 1.5;
    }
    strong {
      padding: 6px 12px;
      gap: 10px;
      border-radius: 5px;
      background: var(--gray-900);
      color: #FCC900;;
      font-size: var(--text-xl);
      font-weight: var(--text-semibold);
      line-height: 1.5;
    }
  }
  .promotion__cta {

  }
}

.promotion--black {
  color: black;
}

.promotion__badge--percent {
  display: flex;
  flex-direction: column;

  .promotion__cta {
    align-self: center;
  }
}
/* End of Promotion */

/* Hot deals */
.hot-deals {
  padding-block: 60px;
  background-color: #F7F7F7;
  
  .hot-deals__list {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
  }

  .hot-deals__item {
    margin: 0 -1px -1px 0;

    &:first-child {
      grid-column: 1 / -1;
    }
    @media (min-width: 640px) {
      &:first-child {
        grid-column: span 2;
        grid-row: span 2;
      }
    }

    .mini-product {
      height: 100%;
    }
  }
}
/* End of hot deals */

/* Discount banner */
.discount-banner {
  position: relative;
  padding: 60px 51px;
  border-radius: 10px;
  overflow: hidden;

  .discount-banner__media {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    aspect-ratio: 1320 / 358;
    width: 100%;
    height: 100%;
    background-color: var(--gray-50);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .discount-banner__body {
    margin-left: auto;
    position: relative;
    z-index: 2;
    max-width: 36%;
  }

  .discount-banner__label {
    color: var(--white-color);
    font-size: var(--text-m);
    font-weight: var(--text-medium);
    line-height: 1;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
  }

  .discount-banner__title {
    color: var(--white-color);
    font-size: var(--heading-size-2);
    line-height: 1.2;
    margin-bottom: 1rem;

    strong {
      color: var(--warning-color);
      font-weight: var(--text-semibold);
    }
  }
  .discount-banner__description {
    color: rgba(255, 255, 255, 0.7);
    font-size: var(--text-m);
    line-height: 1.5;

    margin-bottom: 1.75rem;
  }

}
/* End of Discount banner */