@import url("reset.css");
:root {
  /* Fonts */
  --primary-font: 'Poppins', sans-serif;
  --heading-size-1: 72px;
  --heading-size-2: 56px;
  --heading-size-3: 48px;
  --heading-size-4: 40px;
  --heading-size-5: 36px;
  --heading-size-6: 32px;

  --text-xs: 12px;
  --text-s: 14px;
  --text-m: 16px;
  --text-l: 18px;
  --text-xl: 20px;
  --text-xxl: 24px;
  --text-2xl: 32px;

  --text-light: 300;
  --text-normal: 400;
  --text-medium: 500;
  --text-semibold: 600;
  --text-bold: 700;

  /* Colors */
  --primary-color: #00B207;
  --primary-soft-color: #84D187;
  --primary-hard-color: #2C742F;
  --warning-color: #FF8A00;
  --danger-color: #EA4B48;
  --white-color: #ffffff;
  --branding-success: #00B207;

  --grey-900: #1A1A1A;
  --grey-800: #333333;
  --grey-700: #4D4D4D;
  --grey-600: #666666;
  --grey-500: #808080;
  --grey-400: #999999;
  --grey-300: #B3B3B3;
  --grey-200: #CCCCCC;
  --grey-100: #E6E6E6;
  --grey-50: #F2F2F2;

  --green-grey-900: #002603;
  --green-grey-800: #173B1A;
  --green-grey-700: #2B572E;
  --green-grey-600: #406B42;
  --green-grey-500: #618062;
  --green-grey-400: #7A997C;
  --green-grey-300: #96B297;
  --green-grey-200: #B4CCB4;
  --green-grey-100: #DAE5DA;
  --green-grey-50: #EDF2EE;

  --primary-text-color: var(--grey-600);

  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
}

body {
  font-family: var(--primary-font), sans-serif;
  font-size: var(--text-s);
  color: var(--primary-text-color);
}

.wrapper {
  overflow: clip;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1350px;
  padding-inline: 15px;
  margin: 0 auto;
}

/* Components */
.title {
  color: var(--grey-900);
  font-size: var(--text-2xl);
  font-weight: var(--text-semibold);
  line-height: 1.2;
}

.link-arrow {
  color: var(--branding-success);
  font-size: var(--text-m);
  font-weight: var(--text-medium);
  line-height: 1.5;
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
  transition: color 0.3s;

  &:hover {
    color: var(--primary-hard-color);
  }
}

.link-arrow__icon {
  width: 0.9rem;
  height: 0.8rem;
  margin-bottom: 0.1rem;
}

.block-header {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.block-header--center {
  text-align: center;
}

.block-header__title {
  flex-grow: 1;
}

.block-header__slider-actions {
  gap: 0.75rem;
  display: inline-flex;
}

.btn {
  cursor: pointer;
  padding: 0.875rem 1.5rem;
  background-color: var(--branding-success);
  color: var(--white-color);
  font-size: var(--text-s);
  font-weight: var(--text-semibold);
  line-height: 1.2;
  transition: background-color 0.3s;
  font-family: inherit;

  &:hover {
    background-color: var(--primary-hard-color);
  }
}
.burger-btn {
  cursor: pointer;
  flex-shrink: 0;
  background-color: transparent;
  width: 29px;
  height: 18px;
  position: relative;

  span,
  &:before,
  &:after {
    left: 0;
    background-color: var(--grey-900);
    width: 100%;
    position: absolute;
    content: '';
    display: inline-block;
    height: 2px;
    transition: all 0.5s;
  }
  span {
    top: 50%;
    transform: translateY(-50%);
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  &.opened {
    span {
      width: 0;
    }
    &:before {
      top: 50%;
      rotate: -45deg;
      translate: 0 -50%;
    }
    &:after {
      rotate: 45deg;
      translate: 0 50%;
      bottom: 50%;
    }
  }
}

.button--round {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid var(--grey-100);
  background-color: var(--white-color);
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    background-color: var(--branding-success);
    color: var(--white-color);
  }
}

.button__icon-arrow {
  margin-top: 2px;
  width: 15px;
  height: 12.049px;
}

.button__icon-arrow-left {
  transform: rotate(180deg);
}

  /* End of Components */

/* Top Header */
.header__top {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
.topper {
  border-bottom: 1px solid var(--grey-100);
}
.topper__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.75rem;
  font-size: var(--text-xs);
  flex-wrap: wrap;

  @media (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

.location-topper {
  display: inline-flex;
}

.location-topper__icon {
  width: 1rem;
  height: 1.1875rem;
}

.location-topper__link {
  font-style: normal;
  transition: color 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    color: var(--primary-hard-color);
  }
}

.actions-topper {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.lang-currency {
  display: flex;
  gap: 1.25rem;

  &:after {
    content: '';
    width: 1px;
    height: 0.9375rem;
    background-color: var(--grey-100);
  }
}

.lang-currency__item {
  position: relative;
}

.lang-currency__select {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  padding-right: 0.7rem;
  font-size: inherit;
  font-family: inherit;
}

.lang-currency__select-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-55%);
  width: 8px;
  height: 4.5px;
  color: inherit;
}
/* End of Top header */

/* Header body */
.body-header {
  position: relative;
  z-index: 2;
  background-color: var(--white-color);
}
.body-header__container {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  @media (min-width: 768px) {
    padding-block: 1.5rem;
  }
}

.logo-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-shrink: 0;
}
.logo-header__img {
  aspect-ratio: 1;
}
.logo-header__text {
  color: var(--green-grey-900);
  font-size: var(--text-2xl);
  font-weight: var(--text-medium);
  line-height: 1.2;
  letter-spacing: -0.73px;

  @media (max-width: 399.98px) {
    display: none;
  }
}

.search-header {
  flex-basis: 31.125rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  outline: 1px solid var(--grey-100);
  margin-left: 0.5rem;
}

.search-header__label {
  position: relative;
  flex: 1 1 auto;
  height: 2.8125rem;
}

.search-header__search-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  color: var(--grey-900);
}

.search-header__input {
  width: 100%;
  height: 100%;
  padding-inline: 2.75rem 1rem ;
  color: var(--grey-900);
  font-size: 15px;
  line-height: 1.4;
  appearance: none;
  border-radius: 6px 0 0 6px;
  font-family: inherit;

  &::placeholder {
    color: var(--grey-500);
    transition: opacity 0.1s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

.search-header__submit {
  border-radius: 0 6px 6px 0;
  padding-block: 0.881875rem;
}

.header-actions {
  color: var(--grey-900);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-actions__favourite {
  display: inline-flex;
  gap: 1.0875rem;
  align-items: center;
  transition: color 0.3s;

  &:hover {
    color: var(--primary-hard-color);
  }

  &:after {
    display: none;
    content: '';
    width: 0.0625rem;
    height: 1.5rem;
    background-color: var(--grey-200);
    @media (min-width: 768px) {
      display: block;
    }
  }
}
.header-actions__favourite-icon {
  width: 29px;
  height: 29px;
}

.header-actions__menu {
  @media (min-width: 768px) {
    display: none;
  }
}
.cart-header {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  transition: color 0.3s;

  &:hover {
    color: var(--primary-hard-color);
  }
}
.cart-header__bag {
  position: relative;
  font-size: 0;
}
.cart-header__bag-icon {
  width: 34px;
  height: 34px;
}
.cart-header__counter {
  position: absolute;
  right: -5px;
  top: -2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--primary-hard-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: var(--text-medium);
  color: var(--white-color);
  outline: 1px solid var(--white-color);
}
.cart-header__info {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.cart-header__info > * + * {
  margin-top: 7px;
}

.cart-header__label {
  color: var(--grey-700);
  font-size: 11px;
  line-height: 1.2;
}

.cart-header__total-price {
  font-size: 14px;
  font-weight: var(--text-medium);
}
/* End of header body */

/* Header bottom */
.bottom-header {
  position: relative;

  &:before {
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--grey-800);
    z-index: 2;
    top: 0;
    left: 0;
  }
  @media (max-width: 767.98px) {
    padding-block: 0.475rem;
  }
}
.bottom-header__container {
  position: relative;
  z-index: 2;
  font-weight: 500;
  line-height: 1.5;
  font-size: var(--text-s);

  @media (min-width: 768px) {
    position: static;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    justify-content: space-between;
  }
}
.menu__body {
  @media (max-width: 767.98px) {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
  }
}
.menu__list {
  display: flex;
  color: var(--grey-400);
  gap: 0 2rem;
  flex-wrap: wrap;
}

.menu__item {
  position: relative;
  transition: color 0.3s;
  display: inline-flex;

  &:hover {
    color: var(--white-color);
  }
}

.menu__item:hover .submenu {
  transform: translateY(0);
  pointer-events: auto;
}

.menu__link {
  padding-block: 1rem;
  line-height: 2;
  z-index: 3;
  position: relative;
}

.phone-link {
  color: var(--white-color);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s;

  &:hover {
    color: var(--branding-success);
  }
}

.phone-link__icon {
  color: inherit;
  width: 28px;
  height: 28px;
}

.bottom-header__phone {
  padding-block: 1rem;
  z-index: 3;
  display: none;
  @media (min-width: 768px) {
    display: inline-flex;
  }
}

.header-actions__phone {
  color: inherit;
  .phone-link__icon {
    width: 29px;
    height: 29px;
  }
  span {
    display: none;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.submenu {
  transform: translateY(-100%);
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: -1rem;
  background-color: var(--primary-hard-color);
  padding: 1rem;
  color: white;
  width: 12.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  transition: transform 0.5s;
}

.submenu > * + * {
  margin-top: 5px;
}

.submenu__item {
  font-size: var(--text-m);
}

.submenu__link {
  &:hover {
    text-decoration: underline;
  }
}

.menu__btn {
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  vertical-align: middle;
  line-height: 1;
  font-size: 0;
  height: 100%;
  padding-left: 4px;
  z-index: 3;
  position: relative;
}
.menu__btn-icon {
  width: 10px;
  height: 10px;
}
.body-header__logo {

}

.logo-header__text {

}
.body-header__search {
  display: none;
  @media (min-width: 768px){
    display: flex;
  }
}
.bottom-header__search {
  z-index: 3;
  outline-color: transparent;
  flex-grow: 1;
  margin: 0;
  @media (min-width: 768px){
    display: none;
  }
}
/* End of header bottom */