@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

.footer {
  font-size: 20px;
  text-align: center;
}

nav {
  font-size: 20px;
  margin-bottom: 50px;
}

nav a {
  color: blue;
  text-decoration: underline;
}
nav li + li {
  margin-top: 10px;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  font-weight: 700;
  line-height: normal;
}

.container {
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 15px;
}

.lesson-properties {
  margin-bottom: 50px;
}

.background-examples,
.border-examples {
  max-width: 600px;
  margin-inline: auto;
  font-size: 0;
}

.square {
  margin: 5px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.border-dotted {
  border-style: dotted;
}

.border-dashed {
  border-style: dashed;
}

.border-double {
  border-style: double;
  border-width: 5px;
}

.outline {
  outline: 2px solid lightgreen;
  outline-offset: 3px;
  box-shadow: -7px -1px 31px 1px lightgreen;
}

.border-2 {
  border-width: 2px;
}

.border-5 {
  border-width: 5px;
}

.border-red {
  border-color: red;
}

.border-green {
  border-color: green;
}

.border-blue {
  border-color: blue;
}

.circle {
  border-radius: 50%;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 100px solid red;
}

.pyramid {
  width: 0;
  height: 0;
  border-top: 50px double red;
  border-bottom: 50px double yellow;
  border-left: 50px double green;
  border-right: 50px double blue;
}

.bg-green {
  background-color: green;
}

.bg-gradient {
  background-image: repeating-conic-gradient(blue 10%, yellow 20%)
}

.bg-image-repeated {
  background-image: url("../img/bg/bg-1.jpg");
  background-repeat: repeat;
  background-size: 20px;
}

.rectangle {
  display: inline-block;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  margin: 5px;
  background: url("../img/bg/squidward.png") no-repeat right center / 50px 50px,
    url("../img/bg/spongebob.webp") no-repeat -10px center / contain,
    lightblue;
}

/* Block 1 */
.product {
  color: #808080;
  line-height: 1.5;
  margin-bottom: 60px;
}

.description {
  max-width: 648px;
}

.product .flow > * + * {
  margin-top: 20px;
}

.product .description .list .item {
  margin-bottom: 14px;
  padding-left: 28px;
  background: url("../img/icons/check-icon.svg") no-repeat 4px center,
  radial-gradient(circle, #00B207 69%, #00B207 50%, transparent 75%) no-repeat left center / 20px 20px;
}

.product .description .list .item.last {
  margin-bottom: 0;
}

/* End of block 1 */

/* Block #2 */
.hydra {
  background-color: #302C42;
  padding: 80px 0 100px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.hydra .container {
  max-width: 1272px;
}

.contacts {
  margin-bottom: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 0;
}


.contacts .list {
  border-radius: 90px;
  padding: 25px 40px;
  background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
}

.contacts .list .item {
  display: inline-block;
  max-width: 370px;
  width: 33%;
  font-size: 14px;
  padding: 30px 45px 30px 120px;
  line-height: normal;
  background-repeat: no-repeat;
  background-position: 40px center;
}

.contacts .list .item + .item {
  border-left: 1px solid rgba(192, 183, 232, 0.33);
}

.contacts .item.map {
  padding-left: 70px;
  padding-right: 20px;
  max-width: 400px;
  background-position: left center;
  background-image: url("../img/icons/location-icon.svg");
  background-size: 70px 70px;
}

.contacts .item.phone {
  background-image: url("../img/icons/phone-call.svg");
  background-size: 60px 60px;
}

.contacts .item.email {
  padding-right: 0;
  max-width: 380px;
  background-image: url("../img/icons/mail-icon.svg");
  background-size: 65px 65px;
}

.contacts .link h2 {
  font-size: 24px;
}
/* End of Block #2 */

/* Block #3 */
.about {
  font-size: 0;
  color: white;
  background: url("../img/bg/vector-1.png") no-repeat,
    url("../img/bg/vector-2.png") no-repeat -30px 300px;
}
.about .container > * {
  display: inline-block;
}

.about .media {
  margin-right: 108px;
  max-width: 524px;
  width: 100%;
  min-height: 550px;
  vertical-align: top;
  border-radius: 240px 100px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.about .info {
  max-width: 524px;
  width: 100%;
  font-size: 14px;
  padding: 50px 0 70px;
}

.about .info h2 {
  font-size: 36px;
  text-transform: uppercase;
}
.about .info h3 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 42px;
}

.about .info p {
  line-height: 1.7;
  font-size: 16px;
  margin-bottom: 28px;
}

.about .info a {
  display: inline-block;
  padding: 17px 40px;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  border-radius: 40px;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  color: #343045;
  text-transform: uppercase;
}
/* End of Block #3 */
