@import url("reset.css");

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

h1,
h2,
h3 {
  font-weight: 600;
}

.header,
.footer {
  text-align: center;
  min-height: 80px;
  padding: 30px 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

[class*="__container"] {
  max-width: 1350px;
  margin-inline: auto;
  padding-inline: 15px;
}

.main-title {
  font-size: 24px;
  text-align: center;
}

.page__title {
  margin-bottom: 20px;
}
.section-header {
  position: relative;
}
.section-header > * {
  display: inline-block;
}

.section-header__title {
  font-size: 40px;
  line-height: 1.2;
  color: #1A1A1A;
  vertical-align: sub;
  width: 80%;
}

.section-header__link {
  color: #00B207;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  text-align: right;
  width: 18%;
}

.section-header__link:after {
  content: '';
  position: absolute;
  top: 3px;
  right: -20px;
  width: 15px;
  height: 12px;
  background-image: url('../img/content/vector-icons/arrow.svg');
  background-size: 12px 15px;
  background-repeat: no-repeat;
}

.badge {
  display: inline-block;
  border-radius: 4px;
  padding: 3px 8px;
  font-size: 14px;
  color: white;
  line-height: 1.5;
}

.badge--sale {
  background: #EA4B48;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 7px 0;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #F2F2F2;
  border-radius: 50%;
}

.button:hover {
  background-color: #00B207;
  border-color: transparent;
}
.button:hover img {
  filter: brightness(0) invert(1);
}

.button--buy {
  background-color: #F2F2F2;
}

.product-card {
  padding: 5px;
  position: relative;
  border-radius: 8px;
  border: 1px solid #E6E6E6;
}

.product-card__badges {
  width: 80px;
  position: absolute;
  top: 16px;
  left: 16px;
}
.product-card__badge:not(:last-child) {
  margin-bottom: 4px;
}

.product-card__actions {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.actions {
  width: 40px;
}

.actions__item:not(:last-child) {
  margin-bottom: 5px;
}

.product-card:hover {
  box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.product-card:hover .product-card__actions {
  display: block;
}

.product-card__link-img {
  display: inline-block;
  margin-bottom: 5px;
}

.product-card__img {
  width: 302px;
  object-fit: contain;
}

.product-card__info {
  position: relative;
  padding: 16px 16px 11px 16px;
}

.product-card__title {
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.price {
  font-size: 16px;
  font-weight: 500;
  color: #1A1A1A;
  line-height: 1.5;
}

.price__old {
  color: #999999;
  font-weight: 400;
  text-decoration-line: line-through;
}

.product-card__buy {
  position: absolute;
  right: 20px;
  top: 20px;
}

.featured-products {

}

.featured-products__header {
  margin-bottom: 40px;
}

.featured-products__list {
  font-size: 0;
  margin: 0 -12px;
}

.featured-products__item {
  max-width: 25%;
  width: 25%;
  display: inline-block;
  padding: 0 12px;
  font-size: 14px;
}