@import url("fonts.css");
@import url("reset.css");

body {
  min-width: 320px;
  max-width: 1920px;
  font-family: "Montserrat", sans-serif;
}

a {
  font-size: 20px;
  color: blue;
  text-decoration: underline;
}

nav li {
  margin-bottom: 10px;
}

header {
  margin-bottom: 20px;
}

footer {
  text-align: center;
}

section {
  margin-bottom: 60px;
}

h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 20px;
  font-family: "CircularStd", sans-serif;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
  text-align: center;
}

section h2.title {
  font-size: 32px;
  text-shadow: 5px 5px 10px lightcoral;
}

.content > div {
  /* видалимо пробіли*/
  font-size: 0;
}

.overflow,
.margin-negative,
.margin,
.padding {
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
}

.padding {
  border: 1px solid red;
  padding: 20px;
  background-color: lightgreen;
  vertical-align: top;
}

.inner {
  font-size: 16px;
}

.padding > .inner {
  border: 1px solid green;
  height: 100%;
  background-color: #fff;
}

.margin {
  border: 1px solid orangered;
  background-color: saddlebrown;
}

.margin > .inner {
  margin: 20px;
  background-color: #fff;
  /* віднімаємо margin top - bottom аби висота була відповідна */
  height: calc(100% - 40px);
}

.content > div {
  margin-bottom: 20px;
}

.content > .last-item {
  margin-bottom: 0;
}

.content > div + div > .padding {
  vertical-align: baseline;
}

.margin-negative {
  display: block;
  background-color: lightgreen;
  padding: 20px;
  margin-inline: auto;
}

.margin-negative > .inner {
  background-color: tomato;
  height: 100%;
  margin: 0 -20px;
}

.overflow {
  background-color: lightblue;
  padding: 20px;
  vertical-align: top;
}

.overflow .inner {
  height: 100%;
  background-color: #fff;
}

.overflow p {
  font-size: 18px;
}

.hidden .inner {
  overflow: hidden;
}
.scroll .inner {
  overflow-y: scroll;
}

.advantages .wrapper {
  background-color: #231F8B;
}

.advantages .top {
  margin-bottom: 70px;
}

.advantages .content {
  max-width: 1050px;
  padding: 100px 0;
  margin-inline: auto;
  color: #ffffff;
}

.advantages .title.tag {
  color: #5A54F2;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

.advantages .title {
  font-family: "CircularStd", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.advantages .description {
  font-family: "CircularStd", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.advantages .list {
  font-size: 0;
}

.advantages .list .item {
  padding: 35px 40px;
  background-color: #ffffff;
  max-width: 230px;
  display: inline-block;
  vertical-align: top;
}

.advantages .list {
  margin-right: -30px;
}

.advantages .list .item {
  margin-right: 40px;
}

.advantages .list .item.even {
  margin-top: 48px;
}

.advantages .list .item.hover {
  background-color: #5A54F2;
  color: white;
}

.feature .feature-icon {
  width: 72px;
  height: 72px;
  margin-bottom: 20px;
}

.feature .feature-title {
  font-family: "CircularStd", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #252B42;
  line-height: 24px;
  margin-bottom: 20px;
}
.hover .feature-title {
  color: white;
}

.feature hr {
  width: 50px;
  height: 2px;
  background-color: #E74040;
  margin-bottom: 20px;
}

.hover .feature hr {
  background-color: #ffffff;
}

.feature-description {
  color: #737373;
  font-size: 14px;
  line-height: 20px;
}

.hover .feature-description {
  color: #ffffff;
}